<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->
        
                <article>
                    <header>
                        <h2></h2>
                        <p></p>
                    </header>
                    
                    
                    <h1 id="current-projects">Awards</h1>
<section class="wrapper style1">
<div class="container">
    <div class="row double">
    
        
            <section class="6u">
                <div class="box post">
                    
                        <a href="#" class="image left"><img src="./assets/images/Awards/Poster.png" alt="" /></a>
                    
                    <div class="inner">
                        <h3><a href="/projects/efashion/">Best poster presentation award at AIUB Thesis contest-2020</a></h3>
                        
                    </div>
                </div>
            </section>
        
        


                </article>
    
        </div>
    </div>
</section>
