<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->

            <article>
                <header>
                    <h2>Join Us</h2>
                    
                </header>

                <span class="image featured">
                    <img style="width: auto; margin: 0 auto;" src="./assets/images/join-us.png" alt="" />
                </span>
                <br>
                <p style="text-align: justify; font-size: larger; color: seagreen;">
                  If you are interested to join my team feel free to contact 



                <p style="text-align: justify;">
                    Contact details: <br>
                    Mr. Md Abid Hasan <br>
                    American International University-BD<br>
                    Faculty of Engineering<br>
                    Building-D, Level-5, Room # 501<br>
                    +88 01918444335<br>
                    abid@aiub.edu , abid1084@gmail.com
                


            </p> Before approaching please take a look at our <a href="/projects">Research Projects</a> to get a sense for our research
                    interests, and see if you fit in. If these things seem interesting, feel free to <a
                        href="mailto:abid@aoiub.edu?subject=Want to work under your supervision">fire us an email</a>. Include the
                    following:</p>

                <ul>
                   
                    <li>Unofficial transcript</li>
                    <li>Resume</li>
                   
                </ul>


            </article>

        </div>
    </div>
</section>
