<!-- Main -->
<section class="wrapper style1" id="people" >
    <div class="container">
        <div id="content">

            <!-- Content -->

            <article>
                <header>
                    <h2>People</h2>
                    <p style="color: green; font-size: 15px;">Team Leader</p>
                </header>

                <span class="image featured">
                    <img style="height: 200px; margin: 0 auto; width: auto;" src="./assets/images/people/Abid-Hasan.jpg" alt="" />
                    
                    <div style="text-align: center; margin-top: 10px;">
                        <h3><a href="https://www.researchgate.net/profile/Md-Hasan-272">Mr. Md. Abid Hasan</a></h3>
                        <p style="text-align: justify;">Hello, <br>
                            My name is......
                        
                        </p>
                    </div>
                </span>
                

                <h1 id="current-members">Current Members</h1>
                <section class="wrapper style1">
                    <div class="container">
                        <div class="row double">


                            <section class="4u">
                                <div class="box post">
                                    <a href="#" class="image left"><img
                                            src="./assets/images/people/blank-profile-picture.png" alt="" /></a>
                                    <div class="inner">
                                        <h3><a href="#">Ashfia Jahan</a></h3>
                                        <p>B.Sc.in EEE</p>
                                    </div>
                                </div>
                            </section>
                            <section class="4u">
                                <div class="box post">
                                    <a href="#" class="image left"><img
                                            src="./assets/images/people/blank-profile-picture.png" alt="" /></a>
                                    <div class="inner">
                                        <h3><a href="#">Sahriar Rafiul Rifat</a></h3>
                                        <p>B.Sc. in EEE</p>
                                    </div>
                                </div>
                            </section>

                            <section class="4u">
                                <div class="box post">
                                    <a href="#" class="image left"><img
                                            src="./assets/images/people/blank-profile-picture.png" alt="" /></a>
                                    <div class="inner">
                                        <h3>Abdullah-Al-Mukit</h3>
                                        <p>B.Sc.in EEE</p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>

                <h1 id="alumni">Alumni</h1>

                <section class="wrapper style1">
                    <div class="container">
                        <div class="row double">

                            <section class="4u">
                                <div class="box post">

                                    <a href="https://mohitosh.com/" class="image left"><img
                                            src="./assets/images/people/mohitosh.jpg" alt="" /></a>

                                    <div class="inner">
                                        <h3><a href="https://mohitosh.com/">Mohitosh Pramanik</a></h3>
                                        <p>B.Sc. in CoE(2015-2018)<br />PAMS</p>
                                    </div>
                                </div>
                            </section>



                            <section class="4u">
                                <div class="box post">

                                    <a href="#" class="image left"><img src="./assets/images/people/Shahariar.jpg"
                                            alt="" /></a>

                                    <div class="inner">
                                        <h3><a href="#">Shahariar Hasan</a></h3>
                                        <p>B.Sc. in CoE(2015-2018)<br />PAMS</p>
                                    </div>
                                </div>
                            </section>

                            <section class="4u">
                                <div class="box post">
                                    <a href="#" class="image left"><img src="./assets/images/people/Ishika.jpg"
                                            alt="" /></a>
                                    <div class="inner">

                                        <h3><a href="#">Ishika Mahmud </a></h3>
                                        <p>B.Sc. in CoE(2015-2018)<br />PAMS</p>
                                    </div>
                                </div>
                            </section>

                            <section class="4u">
                                <div class="box post">

                                    <a href="https://www.researchgate.net/profile/Eashrat-Muniya" class="image left"><img
                                            src="./assets/images/people/Muniya.png" alt="" /></a>

                                    <div class="inner">
                                        <h3><a href="https://www.researchgate.net/profile/Eashrat-Muniya">Eashrat Jahan Muniya</a></h3>
                                        <p>B.Sc.in CoE(2016-2020)<br />Cognitive sensing of haert bit analysis</p>
                                    </div>
                                </div>
                            </section>

                            <section class="4u">
                                <div class="box post">

                                    <a href="#" class="image left"><img
                                            src="./assets/images/people/Setu.png" alt="" /></a>

                                    <div class="inner">
                                        <h3><a href="#">Mehzad Hossain Setu</a></h3>
                                        <p>B.Sc. in CoE(2016-2020)<br />Cognitive sensing of heart bit analysis</p>
                                    </div>
                                </div>
                            </section>


                        </div>
                    </div>
                </section>

            </article>

        </div>
    </div>
</section>