<!-- Main -->
<section class="wrapper style1" id="people" >
    <div class="container">
        <div id="content">

            <!-- Content -->

            <article>
                <header>
                    <h2>People</h2>
                    <p style="color: green; font-size: 15px;">Team Leader</p>
                </header>

                <span class="image featured">
                    <img style="height: 200px; margin: 0 auto; width: auto;" src="./assets/images/people/Abid-Hasan.jpg" alt="" />
                    
                    <div style="text-align: center; margin-top: 10px;">
                        <h3><a href="https://www.researchgate.net/profile/Md-Hasan-272">Mr. Md. Abid Hasan</a></h3>
                        <p style="text-align: justify;">Hello, <br>
                            I have received my bachelor degree in Electrical and Electonics Engineering from American International-University, Dhaka, Bnagladesh,
                            in 2013, and Master of Science in Mechatronics Engineering from University of Siegen, NRW, Germany.
                            I joined City University, BD in August 2017 as an Lecturer Under Deparment of EEE . Now I am working as a Senior Lecturer at
                            American International University-Bangladesh under Dept. of CoE.
                            
                            At different academic level, I was awarded both national and international awards and funds (i.e Erasmus Mundus Scholarship, 
                            EU Project-My Active Healthy Aging, BD goverment scholarship etc) for my performance & research.
                            
                            I have been involved in several IEEE conferences in various capacities. I have served as a reviewer for Computer System 
                            Networking and Telecommunications and IEEE conferences. 
                            <br>
                            My research domain includes but not limited to Stochastic signal analysis, Machine learning, Pattern recognition, State Estimation, Digital
                            control, Navigation. If you are interested to join my team,feel free to
                            <a
                            href="mailto:abid@aiub.edu?subject=Want to Work Under your supervision">write me an email</a>.
                            
                                                    
                        </p>
                    </div>
                </span>
                

                <h1 id="current-members">Current Members</h1>
                <section class="wrapper style1">
                    <div class="container">
                        <div class="row double">


                            <section class="4u">
                                <div class="box post">
                                    <a href="#" class="image left"><img
                                            src="./assets/images/people/blank-profile-picture.png" alt="" /></a>
                                    <div class="inner">
                                        <h3><a href="#">Ashfia Jahan</a></h3>
                                        <p>B.Sc.in EEE</p>
                                    </div>
                                </div>
                            </section>
                            <section class="4u">
                                <div class="box post">
                                    <a href="#" class="image left"><img
                                            src="./assets/images/people/Rifat.jpg" alt="" /></a>
                                    <div class="inner">
                                        <h3><a href="#">Sahriar Rafiul Rifat</a></h3>
                                        <p>B.Sc. in EEE</p>
                                    </div>
                                </div>
                            </section>

                            <section class="4u">
                                <div class="box post">
                                    <a href="#" class="image left"><img
                                            src="./assets/images/people/blank-profile-picture.png" alt="" /></a>
                                    <div class="inner">
                                        <h3>Abdullah-Al-Mukit</h3>
                                        <p>B.Sc.in EEE</p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>

                <h1 id="alumni">Alumni</h1>

                <section class="wrapper style1">
                    <div class="container">
                        <div class="row double">

                            <section class="4u">
                                <div class="box post">

                                    <a href="https://mohitosh.com/" class="image left"><img
                                            src="./assets/images/people/mohitosh.jpg" alt="" /></a>

                                    <div class="inner">
                                        <h3><a href="https://mohitosh.com/">Mohitosh Pramanik</a></h3>
                                        <p>B.Sc. in CoE<br />PAMS (2020)</p>
                                    </div>
                                </div>
                            </section>



                            <section class="4u">
                                <div class="box post">

                                    <a href="#" class="image left"><img 
                                        src="./assets/images/people/Shahariar.jpg"alt="" /></a>

                                    <div class="inner">
                                        <h3><a href="#">Shahariar Hasan</a></h3>
                                        <p>B.Sc. in CoE<br />PAMS (2020)</p>
                                    </div>
                                </div>
                            </section>

                            <section class="4u">
                                <div class="box post">
                                    <a href="#" class="image left"><img 
                                        src="./assets/images/people/Ishika.jpg"alt="" /></a>

                                    <div class="inner">

                                        <h3><a href="#">Ishika Mahmud </a></h3>
                                        <p>B.Sc. in CoE<br />PAMS (2020)</p>
                                    </div>
                                </div>
                            </section>


                            <section class="4u">
                                <div class="box post">

                                    <a href="https://www.researchgate.net/scientific-contributions/MD-SADIK-SAMRAT-2189603718" class="image left"><img
                                            src="./assets/images/people/Samrat.png" alt="" /></a>

                                    <div class="inner">
                                        <h3><a href="https://www.researchgate.net/scientific-contributions/MD-SADIK-SAMRAT-2189603718">Md Sadik Samrat</a></h3>
                                        <p>B.Sc.in EEE<br />Hybrid Sensor Based Path Planning for AV</p>
                                    </div>
                                </div>
                            </section>




                            <section class="4u">
                                <div class="box post">

                                    <a href="https://www.researchgate.net/profile/Eashrat-Muniya" class="image left"><img
                                            src="./assets/images/people/Muniya.png" alt="" /></a>

                                    <div class="inner">
                                        <h3><a href="https://www.researchgate.net/profile/Eashrat-Muniya">Eashrat Jahan Muniya</a></h3>
                                        <p>B.Sc.in CoE<br />1D CNN based ECG Beat Signal signal Analysis</p>
                                    </div>
                                </div>
                            </section>

                            <section class="4u">
                                <div class="box post">

                                    <a href="#" class="image left"><img
                                            src="./assets/images/people/Setu.png" alt="" /></a>

                                    <div class="inner">
                                        <h3><a href="#">Mehzad Hossain Setu</a></h3>
                                        <p>B.Sc.in CoE<br />1D CNN based ECG Beat Signal signal Analysis</p>
                                    </div>
                                </div>
                            </section>


                        </div>
                    </div>
                </section>

            </article>

        </div>
    </div>
</section>