<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->
        
                <article>
                    <header>
                        <h2></h2>
                        <p></p>
                    </header>
                    
                    
                    <h1 id="current-projects">Current Projects</h1>
<section class="wrapper style1">
<div class="container">
    <div class="row double">
    
        
            <section class="6u">
                <div class="box post">
                    
                        <a href="#" class="image left"><img src="./assets/images/project-images/Jinsmeme.jpg" alt="" /></a>
                    
                    <div class="inner">
                        <h3><a href="/projects/efashion/">Human Activity Recognition using Smart Eyewear-Jins Meme (HAR by Jins Meme)</a></h3>
                        <p style="text-align: justify;">
                        Human gesture recognition, position tracking and cognitive sense will be covered in this project. Smart phone and JINS MEME glass will be used as a monitoring device.</p>
                    </div>
                </div>
            </section>
        

        
            <section class="6u">
                <div class="box post">
                    
                        <a href="#" class="image left"><img src="./assets/images/project-images/Floodforecasting.png" alt="" /></a>
                    
                    <div class="inner">
                        <h3><a href="/projects/games/">Longterm Flood Predictio Model-LFPM</a></h3>
                        <p style="text-align: justify;">
                        Bangladesh is a flood-prone country. With
                            limited resources and a major portion of the population living
                            below the poverty line, flood impacts are severe. In order to put 
                            a flood management system into effect, it is essential to predict 
                            flooding events ahead of time. This project will develop an effective long term Flood prediction model by analysisng 
                        Historical data of differnet rivers of Bangladesh. </p>
                    </div>
                </div>
            </section>
        
    
        
    
        
            <section class="6u">
                <div class="box post">
                    
                        <a href="#" class="image left"><img src="./assets/images/project-images/motorcharge.jpg" alt="" /></a>
                    
                    <div class="inner">
                        <h3><a href="/projects/collaborative-ar/">Portable Energy Source from Automobiles</a></h3>
                        <p style="text-align: justify;">
                            In this project, heat energy will be used for generating electrical energy by a conversion 
                            process. The energy harvesting from the heat of motorbike has become a crucial research 
                            element because it can decrease the charging issue of the portable gadgets (i.e Smartphone) 
                        </p>
                    </div>
                </div>
            </section>
        
        
    
    </div>
</div>
</section>

<h1 id="past-projects">Past Projects</h1>

<section class="wrapper style1">
<div class="container">
    <div class="row double">
    
        
    
        
            <section class="6u">
                <div class="box post">
                    
                        <a href="#" class="image left"><img src="./assets/images/project-images/pams.jpg" alt="" /></a>
                    
                    <div class="inner">
                        <h3><a href="./project-pams.htm">Parking Automation & Management System</a></h3>
                        <p>Parking Automation & Management System</p>
                    </div>
                </div>
            </section>
        
    
        
            <section class="6u">
                <div class="box post">
                    
                        <a href="#" class="image left"><img src="./assets/images/project-images/AV.png" alt="" /></a>
                    
                    <div class="inner">
                        <h3><a href="/projects/social-watching-of-sports/">Social Watching of Sports</a></h3>
                        <p style="text-align: justify;">
                            An Autonomous Vehicle (AV) is an intelligent cognitive engineering system that processes streams of
                            observations from different onboard sources, like cameras, ultrasonic sensors, GPS units, radars, lidar’s, or
                            inertial sensors to guide itself without human intervention.By fusing the
                            information from the sources, it can improve transportation safety, alleviate traffic congestion, assist
                            pleasant ride, reduce accidents, and fuel consumption. We developed an optimized path planning algorithm to reach the
                            destination point. With the assistance of an ultrasonic sensor and LiDAR, the system is capable to detect any
                            obstacle (i.e. vehicle, pedestrian, or other objects) towards its route. To avoid the obstacle, we implemented
                            a customized Simultaneous Localization and Mapping (SLAM) algorithm (adopted from GitHub) on
                            Arduino and Raspberry-Pi which enables the system to find the alternative shortest route towards its
                            destination. An onboard camera is utilized for traffic sign detection using a counter-analysis method to
                            actuate hereby. To achieve the project goal we have fused the information of GPS, IR, LiDAR, and INS</p>
                    </div>
                </div>
            </section>   

            <section class="6u">
                <div class="box post">
                    
                        <a href="#" class="image left"><img src="./assets/images/image-missing.jpg" alt="" /></a>
                    
                    <div class="inner">
                        <h3><a href="/projects/social-watching-of-sports/">1D CNN based ECG Beat Signal Analysis</a></h3>
                        <p style="text-align: justify;">
                            The change in the normal rhythm of a human heart can lead to different cardiac arrhythmia. To monitor
                            the functionality of the cardiovascular system by electrocardiogram (ECG) is used reliably. Recently, 
                            the accurate categorization of the heartbeats is accepted to be a very concerned incident. In this 
                            project, we applied convolution neural network (CNN) to classify five classes of human heartbeat category 
                            and had used the generated classified output for information fusion towards a smart heart monitoring 
                            system (SHMS), that consist a smart-phone application with few patient-friendly features for individuals. 
                            We evaluated the system on Physio Net's several datasets. According to the findings, the system can 
                            classify five different types of heart rhythm with an average accuracy of 98:28%.    
                        
                        </p>
                    </div>
                </div>
            </section> 



    </div>
</div>
</section>

                </article>
    
        </div>
    </div>
</section>
