<style>
    #citation a {
    color: black;
    border-bottom: none;
}
</style>
<!-- Main -->

<section class="wrapper style1">
    <div class="container">
        <div class="row double">
            <div class="3u">
                <div id="sidebar">
                    <!-- Sidebar -->
                    <section>
                        <h3>See publications</h3>
                        <ul>
                            <li><a href="/papers/">by Year</a></li>
                            <!-- <li><a href="/papers/byType.html">by Publication Type</a></li> -->
                        </ul>

                        <h3>Jump to...</h3>


                        <a href="#2021">2021</a>&nbsp;&nbsp;&nbsp;

                        <a href="#2020">2020</a>&nbsp;&nbsp;&nbsp;

                        <a href="#2019">2019</a>&nbsp;&nbsp;&nbsp;



                    </section>
                </div>
            </div>
            <div class="9u skel-cell-important">
                <div id="content">
                    <!-- Content -->

                    

                    <h1><a name="2020"></a>2020</h1>
                    <ol class="bibliography">
                        <li>
                            <section id="citation">
                                Hasan, M.A., E.J. Munia, S.K. Pritom, M.H. setu, M.T. Ali, “Cardiac Arrhythmia Detection in An ECG Beat Signal Using 1D Convolution Neural Network”, 2020 IEEE 
                                Region 10 Symposium (TENSYMP), 5-7 June 2020, Dhaka, Bangladesh. (DOI:10.1109/TENSYMP50017.2020.9230581)




                                <a href="https://ieeexplore.ieee.org/document/9230581"><i class="fa fa-external-link"></i></a>

                        
                                <!-- --></a>
                        </li>
                        <li>
                            <section id="citation">
                                Hasan, M.A., Rahman, M.H., “Smart Phone Based Sensor Fusion by Using Madgwick
                                Filter for 3D Indoor Navigation.” Wireless Pers Commun 113, 2499–2517, Springer (2020).
                                                
                        
                                <a href="https://doi.org/10.1007/s11277-020-07338-7  "><i class="fa fa-external-link"></i></a>



                                <!-- --></a>
                        </li>
                    </ol>

                    <h1><a name="2019"></a>2019</h1>
                    <ol class="bibliography">
                        <li>
                            <section id="citation">
                                S. Ahmad, R. R. Hasan, R. Hasan, M. A. Al Rakib, Hasan, M.A., and M. Zubayar, "A
                                Low SAR In-Body Antenna for Wireless Monitoring Purpose of Pacemaker System," 2019
                                4th International Conference on Electrical Information and Communication Technology
                                (EICT), Khulna, Bangladesh, 2019, pp. 1-6. (DOI: 10.1109/EICT48899.2019.9068787)

                                <a href="https://ieeexplore.ieee.org/abstract/document/9068787"><i
                                        class="fa fa-external-link"></i></a>


                                <!-- --></a>
                        </li>
                                     
                 </div>
            </div>
        </div>
    </div>
</section>
